{{!-- <header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>
</header> --}}

{{!-- 
<header class="p-3 text-bg-dark">
  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/biblioteca/cadastro" class="nav-link px-2 text-white">Cadastro</a></li>
        <li><a href="/biblioteca" class="nav-link px-2 text-white">Biblioteca</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
      </div>
    </dir>
</header> --}}

<div class="">
    <header class="d-flex text-bg-dark flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        {{!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> --}}
        <span class="fs-4  text-white container">Scanlator API</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link  text-white " aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/biblioteca/cadastro" class="nav-link  text-white">Cadastro</a></li>
        <li class="nav-item"><a href="/biblioteca" class="nav-link  text-white">Biblioteca</a></li>
        <li class="nav-item"><a href="#" class="nav-link  text-white">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link  text-white">About</a></li>
      </ul>
    </header>
  </div>