<div class="">
    <header class="d-flex text-bg-dark flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        {{!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> --}}
        <span class="fs-4  text-white container">Scanlator API</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link  text-white " aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/biblioteca/cadastro" class="nav-link  text-white">Cadastro</a></li>
        <li class="nav-item dropdown" >
           <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">Biblioteca</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/biblioteca/manga">Mangás</a></li>
              <li><a class="dropdown-item" href="/biblioteca/novel">Novels</a></li>
              <li><a class="dropdown-item" href="/biblioteca/webcomic">Webcomics</a></li>
              <li><a class="dropdown-item" href="/biblioteca/manhwa">Manhwas</a></li>
            </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-link  text-white">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link  text-white">About</a></li>
      </ul>
    </header>
  </div>